@mixin base-button() {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  block-size: 38px;
  border: var(--border-width) solid var(--accent-color);
  transition: box-shadow var(--transform-time);
  transition-timing-function: var(--transition-function);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--accent-color);
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
